<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Layout</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    <!-- 참고 URL : https://goo.gl/U7x1Zt -->
    <header>header</header>
    <nav>
	    <ul>
	    	<li>item1</li>
	    	<li>item2</li>
	    	<li>item3</li>
	    	<li>item4</li>
	    </ul>
    </nav>
    <section>main section</section>
    <aside>aside</aside>
    <footer>footer</footer>
        
    </body>
</html>